.my-area.page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: auto;
    background: url("../App/background-pattern.png") repeat;
}

.my-area-container{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
}