.login-input-field-container{
    width: 300px;
    display: flex;
    align-items: center;
}

.login-input-field-container:not(:last-child){
    border-bottom: solid 1.5px #e7e7e7;
}

.login-form-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}