.login-input-field-container, .commander-warning-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login-input-field-container:not(:last-child){
    border-bottom: solid 1.5px #e7e7e7;
}

.login-form-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.login-warning-message{
    color: #dad2d2;
    font-size: 0.7em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}