.home.page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.articles-container {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.articles-header{
    text-align: center;
    font-weight: 700;
    font-size: 2.5em;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}