.login.page-container:before{
    background: no-repeat url('./login-background.jpg');
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    background-size: cover;
    position: fixed;
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: scale(1.06);
}

.login.page-container{
    display: flex;
    justify-content:center;
    align-items: center;
}

.login-logo{
    height: 150px;
    padding: 10px;
    border-radius: 500px;
}

.commander-content-container{
    margin-bottom: 50px;
}