.comment-input-field-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.my-area-form-input-label{
    line-height: 0;
    direction: rtl;
    margin-left: 15px;
}

.my-area-form-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.user-data-form-container{
    width: 50%;
    margin-bottom: 15px;
}

